/* 
    头部
 */
 .HP-header{
    width: 100%;
    height: 60px;
    background-color: #42CBC1;
}

.HP-top{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    font-size: 16px;
}

.HP-top dl{
    height: 100%;
    width: 100%;
}

.HP-top dt{
    float: left;
}

.HP-top dd{
    float: right;
    height: 100%;
    line-height: 60px;
    color: white;
}

.HP-top a{
    color: white;
    font-weight: normal;
}

.HP-top a:hover{
    color: white;
    
}

.top-name{
    float: left;
    height: 60px;
    line-height: 60px;
    margin-right: 30px;
}

.top-name img{
    height: 58px;
}

.top-menu{
    float: right;
    height: 60px;
    line-height: 60px;
    margin-left: 30px;
}

.top-menu a{
    display: block;
    height: 60px;
    padding: 0 20px;
}

.top-menu a:hover{
    background-color: #26A7A3;
    text-decoration: none;
}

.top-menu li{
    padding: 0;
    margin-left: -5px;
}

.pitch-on{
    background-color: #26A7A3;
}

.unpitch-on{
    background-color: #42CBC1;
}

/* 
登录
 */

/* 
 注册
*/
#registeredModal .modal-content{
    width: 380px;
    height: 460px;
}

#registeredModal .modal-dialog{
    width: 380px;
    height: 460px;
    margin: 5% auto;
}

.registered-close{
    width: 320px;
    height: 10px;
    margin: 15px auto 5px auto;
}

.registered{
    width: 300px;
    margin: 0px auto 15px auto;
    height: 50px;
    line-height: 50px;
}

.registered h3{
    float: left;
    height: 50px;
    margin: 0;
    line-height: 50px;
}

.registered span{
    float: right;
}

#registeredModal .form-group{
    clear: both;
    width: 300px;
    margin: 0 auto;
    height: 44px;
}

#registeredModal .form-control{
    height: 44px;
    border-radius: 0px;
    outline:medium;
}

#Phone{
    width: 100%;
    margin: 0;
}

#Dxyzm{
    width: 201px;
    float: left;
    margin: -1px 0 0 0;
}

#Dxyzm-btn{
    width: 100px;
    height: 44px;
    float: right;
    background-color: white;
    border-radius: 0px;
    color: black;
    border-color: #ccc;
    margin-left: -1px;
    margin-top: -1px;
}

#Name{
    width: 100%;
    margin: -2px 0 0 0;
}

#Idcard{
    width: 100%;
    margin: -3px 0 0 0;
}

#Password{
    width: 100%;
    margin: -4px 0 0 0;
}

#registeredModal .col-sm-offset-2{
    margin: 0;
    padding: 0;
    width: 100%;
}

#registered-btn{
    width: 100px;
    margin: 20px 140px;
    background-color: #42CBC1;
    border: none;
}

.register-a{
    color: #42CBC1;
}

.register-a:hover{
    color: #42CBC1;
}

/* 
    轮播图
 */
#carousel-example-generic{
    height: 350px;
}

#carousel-example-generic img{
    height: 350px;
}

.carousel-inner img{
    width: 100%;
    height: 100%;
}

.carousel-indicators {
    width: 100%;
    background-color: #D9D9D9;
    bottom: 0;
    left: 0;
    padding-top: 10px;
    margin-left: 0;
    margin-bottom: 0;
}

.carousel-indicators .active{
    background-color: #818181;
    margin-left: 10px;
    margin-right: 10px;
}

.carousel-indicators li{
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
}

/* 
搜索框
 */
.top-search{
    width: 100%;
    background-color: #D9D9D9;
}

.house-search{
    width: 74%;
    margin: 0 auto;
}

.input-search{
    width: 100%;
    height: 59px;
}

.form-control {
    width: 75%;
    height: 45px;
    border-radius: 8px;
    margin: 7px 0.5% 7px 0;
    float: left;
}

.search-btn{
    float: left;
    width: 15%;
    height: 45px;
    background-color: #FF6D0A;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    margin: 7px 0;
}

.house-map{
    float: left;
    margin-left: 1.5%;
}

.house-map img{
    width: 100%;
    height: 100%;
}

.hot-search{
    clear: both;
    height: 30px;
    margin-top: -20px;
    margin-left: 15px;
}


.hot-search dt{
    float: left;
}

.hot-search dd{
    float: left;
}

.hot-search dd a{
    color: #5E5E5E;
    font-weight: 100;
    padding-left: 10px;
    padding-right: 10px;
}

.hot-search dd a:hover{
    color: #5E5E5E;
}

/* 
    有好房
 */
 .room{
    width: 100%;
 }

 .good-room {
    width: 90%;
    margin: 0 4% 0 6%;
}

.room-title{
    width: 125px;
    margin: 0 auto;
}

.room-title p{
    margin-top: 45px;
    width: 5px;
    height: 30px;
    background-color: #41CBBE;
    float: left;
}

.room-title h1 {
    padding-top: 20px;
    float: right;
}

.room-text {
    clear: both;
    text-align: center;
    color: #5E5E5E;
    margin: 20px auto;
}

.good-room .row {
    height: 280px;
}

.good-room .col-md-3 {
    height: 100%;
    width: 22%;
    margin-right: 3%;
    padding-left: 0;
    padding-right: 0;
    background-color: #F3F3F3;
    border: 1px solid #DDDDDD;
}

.room-img {
    height: 200px;
    width: 100%;
}

.room-img img {
    height: 100%;
    width: 100%;
}

.room-content {
    width: 80%;
    margin: 0 auto;
    color: black;
}

.room-introduce {
    margin-top: 15px;
    width: 100%;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.room-info {
    width: 100%;
    font-size: 12px;
    color: #999;
    margin-top: 15px;
}

.room-price {
    color: white;
    font-size: 18px;
    position: absolute;
    background-color: black;
    top: 150px;
    left: 0;
}

/* 
绝对强推
 */
 .community {
    width: 100%;
}

.community-recommended {
    width: 90%;
    margin: 20px 4% 20px 6%;
}

.community-title{
    width: 160px;
    margin: 0 auto;
}

.community-title p{
    margin-top: 45px;
    width: 5px;
    height: 30px;
    background-color: #41CBBE;
    float: left;
}

.community-title h1 {
    padding-top: 20px;
    float: right;
}

.community-text {
    clear: both;
    text-align: center;
    color: #5E5E5E;
    margin: 20px auto;
}

.community-recommended .row {
    height: 280px;
}

.community-recommended .col-md-4 {
    height: 100%;
    background-color: #EEEEF1;
    width: 30.333%;
    margin-right: 3%;
    padding: 0;
    border: 1px solid #DDDDDD;
}

.community-recommended .col-md-4 img {
    height: 200px;
    width: 100%;
}

.community-content {
    width: 90%;
    margin: 10px auto 10px auto;
    color: black;
}

.community-name {
    font-size: 20px;
}

.community-size {
    float: left;
}

.community-date {
    float: right;
    color: grey;
}

/* 
核验担保
 */
 .guarantee{
    width: 100%;
    background-color: #F3F3F3;
    padding-bottom: 20px;
 }

 .check-guarantee {
    width: 90%;
    margin: 0 4% 0 6%;
}

.guarantee-title{
    width: 160px;
    margin: 0 auto;
}

.guarantee-title p{
    margin-top: 45px;
    width: 5px;
    height: 30px;
    background-color: #41CBBE;
    float: left;
}

.guarantee-title h1 {
    padding-top: 20px;
    float: right;
}

.guarantee-text {
    clear: both;
    text-align: center;
    margin: 20px auto;
    color: #5E5E5E;
}

.check-guarantee .row {
    height: 150px;
}

.check-guarantee .col-md-6 {
    height: 100%;
    width: 47%;
    margin-right: 3%;
    padding-left: 0;
    padding-right: 0;
}

.guarantee-img {
    height: 100%;
    width: 49%;
    float: left;
}

.guarantee-img img {
    height: 100%;
    width: 100%;
}

.guarantee-content {
    width: 49%;
    margin-left: 2%;
    color: black;
    float:right;
}

.guarantee-question {
    width: 100%;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.guarantee-answer {
    width: 50%;
    max-height: 80%;
    font-size: 12px;
    color: #999;
    position: absolute;
    bottom: 0;
}
